html{
    font-family: 'Playfair Display', serif;
    color: #626262;
    box-sizing: border-box;
    font-size: 14px;
}
.container{
    width: 1200px;
}
.site-navigation{
text-align: center;
margin: 0;
}
.site-navigation li{
    display: inline-block;
    padding: 25px;
    margin: 80px auto;
}
    .site-navigation li:not(:last-child){
    margin-right: 100px;
}
.site-navigation a{
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    cursor: pointer;
    }
    .site-navigation a:hover, 
    .site-navigation a:focus{
        color: red;}
.section-1{
    text-align: center;
}
    .section-1 li{
        display: inline-block;
        width: 470px;
        text-align: left;
        padding: 0 20px;
        margin-bottom: 100px;
}
.section-1 li:nth-last-child(-n +2){
    margin-bottom: 0px;}
img{
    width: 470px;
}
.caps{
    text-transform: uppercase;
}
.button-main{
    text-align: center;
}
    .button{ 
        font-family: 'Playfair Display';
        border: 1px solid #626262;
        background-color: transparent;
        width: 180px;
        padding: 0 35px;
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;
}
.button:hover, 
.button:focus{
    color: red;}