:root{
  --color-decor: #fed136;
  --color-titles:#222222;
  --color-texts: #666666;
  --color-header: #ffffff;
  --color-border: #ff4e50;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  /* outline: 0.0625rem solid var(--color-texts); */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* УБИРАЕТ КОНЧЕНЫЙ МАРЖИН ИЗ НОРМАЛАЙЗ ЦСС */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
}
/* a:focus{
  color: blueviolet;
} */

ul,
ol {
  list-style: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="ratio"].visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}
.diyplay{
  display: none; /*убрать из потока и скрыть с сайта */
  opacity: 0;
  visibility: hidden; /*скрыть видимость с сайта юоставить в потоке */
}
body {
  color: var(--color-texts);
  font-family: "Montserrat";
  /* background-color: var(--color-border); */
}

/* 1 пачка в 3 дня
10  пачек феты в месяц
250грм = 50грн
2500 грам фкты в месяц
50*10=500 грн мес

молоко 
2,5литра молока = 410 гр феты
2500 гр = х 6,1 по 2.5 литра = 15 литров момлка

1л молока = 30 грн
15*30=450 грн
+35 грн
2 
487грн 
НГгг
*/
.site-header {
  color: var(--color-header);
  background-image: url("../img/images/fon-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.site-menue{
  display: flex;
  justify-content: center;
  margin-bottom: 7.1875rem;
}
.header-naviagtion{
min-height: 2.25rem;
padding: 1.25rem 1.25rem 0rem 1.25rem;
}
.site-menu-item{
}
.site-menu-item:nth-child(1){
    padding-right: 2.5rem;
}
.site-menu-item-link{
  font-size: 0.875rem;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 700;
  padding:0.5rem;
  color: var(--color-header);
  border: 0.125rem solid transparent;
  border-radius: 1.5625rem;
  }
  .site-menu-item-link:hover{
    border: 0.125rem solid var(--color-header);
    border-radius: 1.5625rem;
  }
  .header-title{
    color: var(--color-header);
    text-align: center;
    font-weight: bold;
  }
  .logo{
    text-transform: uppercase;
    margin-bottom: 2.125rem;
    font-size: 20px;
    line-height: 2.25rem;
    color: var(--color-header);
    font-weight: 600;
                  /* letter-spacing: ; */
                  }
.header-title-list-text{
  text-transform: uppercase;
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0.6;
  margin-bottom: 2.5rem;
}
.header-title{
  padding: 0rem  2.5rem;
/* letter-spacing: ; */ 
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.header-btn{
  /* letter-spacing: ; */ 
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}
.header-btn{
  /* margin-bottom: 8.625rem; */
  background-color: var(--color-border);
  padding: 0.625rem  3rem;
  margin-bottom: 234px;
  }
  .btn{
    border-radius: 1.25rem;
    border-style:none;
    color: var(--color-header);
    font-size: 0.875rem;
    font-weight: 700;
    border: none;
  }
  .header-text{
  }
/* comand */
.site-main{
  text-align: center;
  margin-bottom: 3.125rem;
}
.partners-list-item{
  /* margin: 0 auto; */
}
  .icon-1{ 
    width: 6.25rem;
    height: 6.25rem;
    margin-bottom: 1.25rem;
  }
    .partners{
    text-align: center;
  }
  .partners-text-main{
  
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0.875rem;
  }
.icon-wrapper{
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
.icon-wrapper::before{
    width: 2.125rem;
    height: 2.125rem;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 0.25rem solid var(--color-header) ;
}
.icon-1::before{
  background-color: var(--color-border);
  background-image: url("../img/potoduct-item/icon-1.png");
}
.icon-2::before{
  background-color: #1cd7ad;
  background-image: url("../img/potoduct-item/icon-2.png");
}
.icon-3::before{
  background-image: url("../img/potoduct-item/icon-3.png");
  background-color: #ffa507;
}
.icon-4::before{
  background-image: url("../img/potoduct-item/icon-4.png");
  background-color: #4e73db;
}
.partners-title{
font-size: 0.875rem;
margin-bottom: 1.25rem;
}
  .partners-text{
    font-family: 'Roboto', sans-serif;
    line-height: 1rem;
    line-height: 1.125rem;
    padding: 0rem  2.1875rem;
    margin-bottom: 1.75rem;
    color: var(--color-texts);
    font-weight: 300;
  }
 .main-btn{
    margin: 0rem auto;
    max-width: 20rem;
    padding: 0.75rem 4.625rem;
    font-weight: normal;
    border: 0.125rem solid var(--color-border);
    border-radius: 1.5625rem;
    background-color:transparent;
    color: var(--color-border);
    cursor: pointer;
  }
@media (min-width:768px)
{
.container{
  width: 748px;
}
.site-header{
  background-image: url("../img/images/fon-tablet.jpg");
}
.header-naviagtion{
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  margin-bottom: 160px;
}
.header-text{
  padding: 0;
}
.logo{
  padding: 0;
  margin: 0;
}
.site-menue{
  padding: 0;
  margin: 0;
}
.header-title-list-text{  
  font-size: 52px;
  line-height: 1.2;
  padding: 0px 80px;
}
.contact{
  padding-top: 70px;
}
.partners-list-item{
  width: 250px;
}

.partners-list{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 37.5rem;
  margin-bottom: 2.5rem;
}
.header-title{
font-size: 1.5rem;
font-weight: 300;
  margin-bottom: 2.5rem;
}
.partners-text-main{
  font-size: 1.375rem;
  font-weight: 700;
  color: #333333;
}
.partners-text{
  margin: 0;
  padding: 0;
}

}

@media (min-width:768px) and (max-width 959px){
  .partners-list-item:nth-child(-n+2)  {
    margin-bottom: 58px;
  }
 }
@media (min-width:960px)
{
.container{
  width: 940px;
}
.site-header{
  background-image: url("../img/images/fon-pc.jpg");
}
.partners-list{
  width: 942px;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.partners-list-item:{
  width: 220px; 
  margin-bottom: 0;
}
}
