:root{
  --color-decor: #fed136;
  --color-titles:#222222;
  --color-texts: #666666;
  --color-header: #ffffff;
  --color-border: #ff4e50;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  /* outline: 1px solid var(--color-texts); */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
}
/* a:focus{
  color: blueviolet;
} */

ul,
ol {
  list-style: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="ratio"].visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin: 0 auto;
}
.diyplay{
  display: none; /*убрать из потока и скрыть с сайта */
  opacity: 0;
  visibility: hidden; /*скрыть видимость с сайта юоставить в потоке */
}
body {
  color: var(--color-texts);
  font-family: "Montserrat";
  /* background-color: var(--color-border); */

}


/* @media (min-width:48rem)
{

} */
/* 1 пачка в 3 дня
10  пачек феты в месяц
250грм = 50грн
2500 грам фкты в месяц
50*10=500 грн мес

молоко 
2,5литра молока = 410 гр феты
2500 гр = х 6,1 по 2.5 литра = 15 литров момлка

1л молока = 30 грн
15*30=450 грн
+35 грн
2 
487грн 
НГгг
*/
.site-header {
  color: var(--color-header);
  background-image: url("../img/images/Mobile-header-fon_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
}
.site-menue{
  display: flex;
  justify-content: center;
}
.header-naviagtion{
  width: 100%;
  min-height: 36px;
  padding-top: 20px;
  margin-bottom: 128px;
}
.site-menu-item{
}
.site-menu-item:nth-child(1){
    padding-right: 40px;
}
.site-menu-item-link{
  font-size: 0.875rem;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  padding:0.5rem;
  color: var(--color-header);
  border: 2px solid transparent;
  border-radius: 25px;
  }

  .site-menu-item-link:hover{
    border: 2px solid var(--color-header);
    border-radius: 25px;
  }

  .header-title{
    color: var(--color-header);
    text-align: center;
    font-weight: bold;
  }
  .logo{
    text-transform: uppercase;
    margin-bottom: 2.125rem;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: var(--color-header);
                  /* letter-spacing: ; */
                  }
.header-title-list:nth-of-type(2){
  text-transform: uppercase;
  /* letter-spacing: 1.5; */
  margin-bottom: 0.875rem;
  padding: 0rem  0.875rem;
  font-size: 1.875rem;
  line-height: 36px;
/* letter-spacing: ; */
}
.header-title-list:nth-of-type(3){
  padding: 0px  40px;
/* letter-spacing: ; */ 
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 14px;
}
.header-title-list:nth-of-type(4){
  /* letter-spacing: ; */ 
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.header-btn{
  margin-bottom: 8.625rem;
  background-color: var(--color-border);
  padding: 10px  48px;

  }
  .btn{

    border-radius: 20px;
    border-style:none;
    color: var(--color-header);
    font-size: 14px;
    font-weight: 700;
    border: none;
  }
/* comand */
.site-main{
  text-align: center;
  margin-bottom: 50px;
}
.partners-list-item{
  margin: 0 auto;
  /* position: relative; */
  }
  .icon-1{ 
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
    .partners{
    text-align: center;
  }
  .partners-text-main{
  
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 14px;
  }
.icon-wrapper{
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}
.icon-wrapper::before{
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    background-color: var(--color-border);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 4px solid var(--color-header) ;
}
.icon-1::before{
  background-image: url("../img/potoduct-item/icon-1.png");
}
.icon-2::before{
  background-image: url("../img/potoduct-item/icon-2.png");
}
.icon-3::before{
  background-image: url("../img/potoduct-item/icon-3.png");
}
.icon-4::before{
  background-image: url("../img/potoduct-item/icon-4.png");
}
.partners-title{
font-size: 14px;
margin-bottom: 20px;
}
  .partners-text{
    font-family: 'Roboto', sans-serif;
    line-height: 16px;
    line-height: 18px;
    padding: 0px  35px;
    margin-bottom: 28px;
    color: var(--color-texts);
    font-weight: 300;
  }
 .main-btn{
   margin: 0px auto;
    padding: 12px 74px;
    font-weight: normal;
    border: 2px solid var(--color-border);
    border-radius: 25px;
    background-color:transparent;
    color: var(--color-border);
    cursor: pointer;
  }