* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  box-sizing: border-box;
  /* outline: 1px solid #515151; */
}
.container {
  width: 1110px;
  margin: 0 auto;
}
.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}
ul,
ol {
  list-style: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="ratio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER */
.main-header {
  padding-top: 32px;
  margin-bottom: 32px;
}
.stie-navigation {
}
.logo {
  float: left;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 200;
  color: #515151;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: 700;
}
.site-menue {
  float: right;
  padding-top: 12px;
  text-transform: uppercase;
  vertical-align: middle;
  color: #515151;
}
.site-menue-item {
  float: left;
  font-weight: 900;
}
.site-menue-item:not(:last-child) {
  margin-right: 24px;
}
.site-menue-item a {
  font-size: 14px;
  font-weight: bold;
  color: #515151;
}
.site-menue-item a:hover,
.site-menue-item a:focus {
  color: #1abc9c;
}

/* Slider */
.main {
  padding-bottom: 100px;
  /* background-color: #e9f0fd; */
}
/* .slider-wrapper { */
.slider {
  position: relative;
  margin-bottom: 80px;
}
.slider:before {
  backg round-color: rgba(0, 0, 0, 0.52);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "  ";
}
.slider__fon {
  margin: 0 auto;
  height: 600px;
  width: 100%;
  object-fit: contain; /* СОХРАНЯТЬ ПРОПОРЦИИ ФОТО*/
}
.slider__overlay {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.slider__text-wrapper {
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.overlay-slider__title {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 38px;
}
.overlay-slider__subtitle {
  font-weight: 400;
  font-size: 24px;
}
.slider__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-slider__control{
  width: 104px;
  height: 104px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #55a290;
  cursor: pointer;
}
.button-slider__control:before {
  background-image: url("../img/slider/to-left.png");
  float: left;
  width: 15px;
  height: 15px;
  border-style: none;
}
.control-left{
  background-image: url("../img/slider/to-left.png");
  float: left;
  border-style: none;
}
.control-right{
  float: right;
  background-image: url("../img/slider/to-right.png");
  border-style: none;
}
/* NEW COLLECTION */
/* заголовок */
.new-collection h2 {
  color: #515151;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 115px;
  letter-spacing: -0.2px;
}
.new-collection h2::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 28px;
  border: 0;
}
/* team */
.collection-slider-wrapper {
  position: relative;
}
.collection-slider-list {
}
.collection-slider-item {
  position: relative;
  float: left;
  background-color: #323232;
  width: 255px;
}
.collection-slider-item:hover .hover-list-item-collection {
  opacity: 1;
  visibility: visible;
}
.collection-slider-item:not(:last-child) {
  margin-right: 30px;
}
.collection-slider-item:hover .collection-slider-text {
  background-color: #1abc9c;
}
.collection-slider-text {
  position: absolute;
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #323232;
  font-size: 18px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
}
.slider-item-name {
  float: left;
  display: block;
  width: 200px;
  padding-left: 12px;
  padding-top: 12px;
}
.slider-item-price {
  float: left;
  display: block;
  width: 55px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.44);
}
/* collection-overlay */
.new-collection {
  position: relative;
}
.collection-overlay {
  position: absolute;
}
.hover-list {
}
.hover-list-item {
  width: 255px;
  height: 282px;
  background-color: rgba(255, 255, 255, 0.55);
}
.hover-list-item: {
}
.hover-overlay-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-list-item-collection {
  position: absolute;
  top: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-color: rgb(0, 0, 0, 0.55);
  background-clip: padding-box;
  width: 100%;
  height: 282px;
  opacity: 0;
  visibility: hidden;
}
.link-container:hover {
  background-color: #1abc9c;
}
.link-container {
  cursor: pointer;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: #ffffff 1px solid;
  float: left;
  color: #fff;
}
.link-container:nth-child(n + 1) {
  margin-right: 8px;
}
.link-container:nth-child(3) {
  margin-right: 0;
}
.link-container:nth-child(n + 1) {
  margin-bottom: 8px;
}
.link-container:nth-child(4) {
  margin-right: 0px;
  margin-bottom: 0;
}
.cart {
  width: 166px;
  height: 50px;
  margin: 0px;
  font-size: 16px;
  text-transform: uppercase;
}

.heart::before {
  content: "\1685";
}
.arrows::before {
  content: "\1696";
}
.clock::before {
  content: "\13CA";
}
.cart::before {
  content: "\1477";
}
.hover-list-item {
}

/* FOOTER */
.main-footer {
  background-color: #323232;
  text-align: center;
  padding-bottom: 40px;
}
.main-footer p {
  color: #ffffff;
  padding-top: 40px;
}
